Django==5.2.13
gunicorn==25.3.0
whitenoise==6.12.0
sendgrid==6.12.5
python-http-client==3.3.7
cryptography==47.0.0
cffi==2.0.0
pycparser==3.0
sqlparse==0.5.5
asgiref==3.11.1
tzdata==2026.2
dj-database-url==2.2.0
psycopg2-binary==2.9.9